/target/
__pycache__/
/desktop/macos/Mailune.xcodeproj/
/desktop/macos/DerivedData/
/desktop/macos/**/.build/
/desktop/macos/**/.swiftpm/
/desktop/macos/MailuneUI/Sources/MailuneUI/Catalogs/
/desktop/macos/App/Info.plist
